Repository thales-markets/contracts, pull requests merged in 2022-11, with the labels that each got.

#220 Adding circuit breaker event
  .openzeppelin/unknown-10.json
  .openzeppelin/unknown-420.json
  contracts/SportMarkets/Rundown/TherundownConsumer.sol
  scripts/abi/TherundownConsumer.json
  scripts/deployments.json
Labels: overtime, rundown

#217 Update on building pipeline - node version
  .circleci/config.yml
Labels: devops

#219 Overtime vaults
  .openzeppelin/unknown-10.json
  .openzeppelin/unknown-420.json
  contracts/OvertimeVaults/SportVault.sol
  contracts/SportMarkets/SportsAMM.sol
  contracts/SportMarkets/SportsAMMUtils.sol
  contracts/Vaults/BaseVault.sol
  contracts/Vaults/Vault.sol
  contracts/interfaces/ISportsAMM.sol
  scripts/abi/ERC721.json
  scripts/abi/ERC721URIStorage.json
  scripts/abi/IERC20Metadata.json
  scripts/abi/ISportsAMM.json
  scripts/abi/OvertimeVoucher.json
  scripts/abi/SportVault.json
  scripts/abi/ThalesRoyalePass.json
  scripts/deployVaults/SportVault/deploy.js
  scripts/deployVaults/SportVault/upgrade.js
  scripts/deployVaults/SportVault/upgradeset.js
  scripts/deployments.json
  test/contracts/SportVaults/SportVault.js
Labels: overtime

#214 Non-transferable Overtime World Cup Zebro NFT
  contracts/SportMarkets/OvertimeZebro/OvertimeWorldCupZebro.sol
  scripts/abi/OvertimeWorldCupZebro.json
  scripts/deploySportMarkets/deployFIFANFT/addtoWhitelist.js
  scripts/deploySportMarkets/deployFIFANFT/deployOvertimeWorldCupZebroNFT.js
  scripts/deployments.json
  test/contracts/SportMarkets/OvertimeWorldCupZebro.js
Labels: overtime

#222 NFT on main
  scripts/deployments.json
Labels: overtime

#224 add function and test to verifier
  contracts/SportMarkets/Rundown/TherundownConsumerVerifier.sol
  contracts/interfaces/ITherundownConsumer.sol
  scripts/abi/ERC721.json
  scripts/abi/ERC721URIStorage.json
  scripts/abi/IERC20Metadata.json
  scripts/abi/ITherundownConsumer.json
  scripts/abi/OvertimeVoucher.json
  scripts/abi/OvertimeWorldCupZebro.json
  scripts/abi/ThalesRoyalePass.json
  scripts/abi/TherundownConsumerVerifier.json
  test/contracts/SportMarkets/TherundownConsumer.js
Labels: rundown

#226 push to envs
  .openzeppelin/unknown-10.json
  .openzeppelin/unknown-420.json
  scripts/deployments.json
Labels: rundown

#221 Update odds logic after big payment
  .openzeppelin/unknown-420.json
  contracts/SportMarkets/Rundown/TherundownConsumer.sol
  contracts/SportMarkets/Rundown/TherundownConsumerWrapper.sol
  contracts/SportMarkets/SportsAMM.sol
  contracts/interfaces/ITherundownConsumer.sol
  contracts/interfaces/ITherundownConsumerWrapper.sol
  scripts/abi/ITherundownConsumer.json
  scripts/abi/ITherundownConsumerWrapper.json
  scripts/abi/SportsAMM.json
  scripts/abi/TherundownConsumer.json
  scripts/abi/TherundownConsumerWrapper.json
  scripts/deploySportMarkets/deployRundown/deploy_TherundownConsumerWrapper.js
  scripts/deployments.json
  test/contracts/SportMarkets/ParlayAMM.js
  test/contracts/SportMarkets/SportsAMM.js
  test/contracts/SportMarkets/SportsAMMDiscounts.js
  test/contracts/SportMarkets/SportsAMMDiscounts2.js
  test/contracts/SportMarkets/SportsAMMDiscounts3.js
  test/contracts/SportMarkets/SportsVoucher.js
  test/contracts/SportMarkets/TherundownConsumer.js
  test/contracts/SportMarkets/wrapper.js
  test/contracts/SportVaults/SportVault.js
Labels: overtime, rundown

#228 upgrade after deployment
  .openzeppelin/unknown-10.json
  scripts/deployments.json
Labels: rundown

#231 collect vouchers
  scripts/deploySportMarkets/deployOvertimeVoucher/collectAmountAndUsers.js
Labels: overtime

#232 Verifier store bookmaker id and fix after fast deployment
  .openzeppelin/unknown-420.json
  contracts/SportMarkets/Rundown/TherundownConsumer.sol
  contracts/SportMarkets/Rundown/TherundownConsumerVerifier.sol
  contracts/SportMarkets/Rundown/TherundownConsumerWrapper.sol
  contracts/interfaces/ITherundownConsumer.sol
  contracts/interfaces/ITherundownConsumerVerifier.sol
  scripts/abi/ITherundownConsumer.json
  scripts/abi/ITherundownConsumerVerifier.json
  scripts/abi/TherundownConsumer.json
  scripts/abi/TherundownConsumerVerifier.json
  scripts/abi/TherundownConsumerWrapper.json
  scripts/deploySportMarkets/deployRundown/deploy_TherundownConsumerWrapper.js
  scripts/deployments.json
  test/contracts/SportMarkets/TherundownConsumer.js
  test/contracts/SportMarkets/TherundownConsumerVerifier.js
  test/contracts/SportMarkets/wrapper.js
Labels: overtime, rundown

#234 create two functions for faster bot execution
  .openzeppelin/unknown-420.json
  contracts/SportMarkets/Rundown/TherundownConsumerVerifier.sol
  contracts/interfaces/ITherundownConsumer.sol
  scripts/abi/ITherundownConsumer.json
  scripts/abi/TherundownConsumerVerifier.json
  scripts/deployments.json
  test/contracts/SportMarkets/TherundownConsumer.js
Labels: rundown

#236 TIP-101
  .openzeppelin/unknown-10.json
  .openzeppelin/unknown-137.json
  .openzeppelin/unknown-42161.json
  .openzeppelin/unknown-56.json
  contracts/AMM/ThalesAMM.sol
  contracts/AMM/ThalesAMMNew.sol
  scripts/abi/ERC721.json
  scripts/abi/ERC721URIStorage.json
  scripts/abi/IERC20Metadata.json
  scripts/abi/OvertimeVoucher.json
  scripts/abi/OvertimeWorldCupZebro.json
  scripts/abi/ThalesRoyalePass.json
  scripts/deployAMM/deployAMMUtils.js
  scripts/deployments.json
  test/contracts/ThalesAMM/thalesAmmTIP101.js
Labels: amm

#242 fix in the low positions available for parlay quote
  contracts/SportMarkets/Parlay/ParlayVerifier.sol
  scripts/deploySportMarkets/deployParlayAMM/deploy_ParlayVerifier.js
  scripts/deployments.json
Labels: overtime, parlay
