Repository thales-markets/contracts, pull requests merged in 2022-10, with the labels that each got.

#206 Verifier contract, odds circuit breaker
  .openzeppelin/goerli.json
  .openzeppelin/unknown-10.json
  .openzeppelin/unknown-420.json
  contracts/SportMarkets/Rundown/TherundownConsumer.sol
  contracts/SportMarkets/Rundown/TherundownConsumerVerifier.sol
  contracts/interfaces/ITherundownConsumerVerifier.sol
  scripts/abi/ITherundownConsumerVerifier.json
  scripts/abi/TherundownConsumer.json
  scripts/abi/TherundownConsumerVerifier.json
  scripts/deploySportMarkets/deployRundown/deploy_TherundownConsumerVerifier.js
  scripts/deploySportMarkets/deployRundown/setInvalidNames.js
  scripts/deploySportMarkets/deployRundown/update_TherundownConsumerVerifier.js
  scripts/deployments.json
  test/contracts/SportMarkets/SportsAMM.js
  test/contracts/SportMarkets/SportsVoucher.js
  test/contracts/SportMarkets/TherundownConsumer.js
  test/contracts/SportMarkets/TherundownConsumerVerifier.js
  test/contracts/SportMarkets/wrapper.js
Labels: overtime, rundown

#211 Fixing start date on queues, used by bots
  .openzeppelin/goerli.json
  .openzeppelin/unknown-420.json
  contracts/SportMarkets/Rundown/GamesQueue.sol
  contracts/SportMarkets/Rundown/TherundownConsumer.sol
  scripts/abi/GamesQueue.json
  scripts/deployments.json
  test/contracts/SportMarkets/TherundownConsumer.js
Labels: overtime, rundown

#210 Add support for Apex TOP3/TOP5/TOP10 bet types
  .openzeppelin/goerli.json
  .openzeppelin/unknown-10.json
  contracts/SportMarkets/Apex/ApexConsumer.sol
  contracts/SportMarkets/Apex/ApexConsumerWrapper.sol
  contracts/interfaces/IApexConsumer.sol
  contracts/interfaces/IPositionalMarket.sol
  contracts/interfaces/IReferrals.sol
  scripts/abi/ApexConsumer.json
  scripts/abi/ApexConsumerWrapper.json
  scripts/abi/IApexConsumer.json
  scripts/deploySportMarkets/deployApex/deploy_ApexConsumerWrapper.js
  scripts/deployments.json
  test/contracts/SportMarkets/ApexConsumer.js
  test/contracts/SportMarkets/ApexConsumerWrapper.js
Labels: overtime, apex

#213 Set away team for Apex TOP games
  .openzeppelin/goerli.json
  .openzeppelin/unknown-10.json
  contracts/SportMarkets/Apex/ApexConsumer.sol
  contracts/SportMarkets/Apex/ApexConsumerWrapper.sol
  scripts/deployments.json
Labels: overtime, apex

#216 Cooling down Exotic markets
  .openzeppelin/unknown-10.json
  scripts/deployments.json
Labels: exotic

#218 UFC update time
  .openzeppelin/goerli.json
  .openzeppelin/unknown-10.json
  .openzeppelin/unknown-420.json
  contracts/SportMarkets/Rundown/TherundownConsumer.sol
  scripts/abi/ERC721.json
  scripts/abi/ERC721URIStorage.json
  scripts/abi/IERC20Metadata.json
  scripts/abi/OvertimeVoucher.json
  scripts/abi/ThalesRoyalePass.json
  scripts/deployments.json
  test/contracts/SportMarkets/TherundownConsumer.js
Labels: rundown
