Repository thales-markets/contracts, pull requests merged in 2023-02, with the labels that each got.

#271 - batch parlays data output
  .openzeppelin/unknown-10.json
  contracts/SportMarkets/Parlay/ParlayMarketData.sol
  contracts/interfaces/IStakingThales.sol
  scripts/abi/ERC721.json
  scripts/abi/ERC721URIStorage.json
  scripts/abi/IERC20Metadata.json
  scripts/abi/OvertimeVoucher.json
  scripts/abi/OvertimeWorldCupZebro.json
  scripts/abi/ParlayMarketData.json
  scripts/deploySportMarkets/deployParlayAMM/upgrade_ParlayMarketData.js
  scripts/deployTaleOfThales/deployNFT/addItemsAndCollections.js
  scripts/deployTaleOfThales/deployNFT/deployTaleOfThalesNFTs.js
  scripts/deployTaleOfThales/deployNFT/taleOfThalesNFTMeta.json
  scripts/deployTaleOfThales/deployNFT/updateWhitelist.js
  scripts/deployments.json
  test/contracts/SportMarkets/ParlayAMM.js
  test/contracts/TaleOfThales/TaleOfThalesNFTs.js
Labels: overtime

#275 Arbitrum deployments
  .openzeppelin/unknown-10.json
  .openzeppelin/unknown-420.json
  .openzeppelin/unknown-42161.json
  contracts/SportMarkets/Parlay/ParlayMarket.sol
  contracts/SportMarkets/Parlay/ParlayMarketsAMM.sol
  contracts/SportMarkets/Parlay/ParlayVerifier.sol
  contracts/SportMarkets/SportPositions/SportPositionalMarket.sol
  contracts/SportMarkets/SportPositions/SportPositionalMarketData.sol
  contracts/SportMarkets/SportPositions/SportPositionalMarketManager.sol
  contracts/SportMarkets/Voucher/OvertimeVoucher.sol
  scripts/abi/ERC721.json
  scripts/abi/ERC721URIStorage.json
  scripts/abi/IERC20Metadata.json
  scripts/abi/OvertimeVoucher.json
  scripts/abi/OvertimeWorldCupZebro.json
  scripts/abi/ParlayVerifier.json
  scripts/abi/SportPositionalMarketData.json
  scripts/deployAMM/upgradeReferrals.js
  scripts/deploySportMarkets/deployOvertimeVoucher/deployOvertimeVoucher.js
  scripts/deploySportMarkets/deployParlayAMM/upgrade_ParlayMarketData.js
  scripts/deploySportMarkets/deployParlayAMM/upgrade_ParlayMarketsAMM.js
  scripts/deploySportMarkets/deploySportPositionalMarkets/deploy_SportPositionMastercopy.js
  scripts/deploySportMarkets/deploySportPositionalMarkets/upgrade_SportMarketData.js
  scripts/deploySportMarkets/deploySportsAMM/deploy_SportsAMMUtils.js
  scripts/deploySportMarkets/deploySportsAMM/upgrade_SportsAMM.js
  scripts/deployments.json
  test/contracts/SportMarkets/ParlayAMM_Arbi.js
  test/contracts/SportMarkets/SportsAMMSingleBuy.js
Labels: overtime

#279 - fix for rounding error on Arbitrum
  .openzeppelin/unknown-42161.json
  contracts/SportMarkets/SportPositions/SportPositionalMarketManager.sol
  contracts/utils/MultiSend.sol
  scripts/abi/MultiSend.json
  scripts/deploySportMarkets/deploySportPositionalMarkets/fund_SportPositionalMarkets.js
  scripts/deployments.json
  test/contracts/SportMarkets/ParlayAMM_Arbi.js
Labels: overtime, arbitrum

#280 adding edge case when spread and totals same as before
  .openzeppelin/unknown-10.json
  .openzeppelin/unknown-42161.json
  contracts/SportMarkets/Rundown/GamesOddsObtainer.sol
  scripts/abi/ERC721.json
  scripts/abi/ERC721URIStorage.json
  scripts/abi/IERC20Metadata.json
  scripts/abi/OvertimeVoucher.json
  scripts/abi/OvertimeWorldCupZebro.json
  scripts/deploySportMarkets/deployRundown/update_GamesOddsObtainer.js
  scripts/deployments.json
  test/contracts/SportMarkets/TherundownConsumer.js
Labels: overtime

#284 Parlays audit changes
  .openzeppelin/unknown-10.json
  .openzeppelin/unknown-42161.json
  contracts/SportMarkets/Parlay/ParlayMarket.sol
  contracts/SportMarkets/Parlay/ParlayMarketsAMM.sol
  contracts/SportMarkets/Parlay/ParlayVerifier.sol
  scripts/abi/ParlayMarketsAMM.json
  scripts/deploySportMarkets/deployParlayAMM/deploy_ParlayVerifier.js
  scripts/deployments.json
  test/contracts/SportMarkets/ParlayAMM.js
  test/contracts/SportMarkets/ParlayAMMSingledOut.js
  test/contracts/SportMarkets/ParlayAMM_Arbi.js
Labels: overtime, parlay

#288 Add IF statement if market is zero address to not check
  .openzeppelin/unknown-10.json
  .openzeppelin/unknown-420.json
  .openzeppelin/unknown-42161.json
  contracts/SportMarkets/Rundown/TherundownConsumerVerifier.sol
  scripts/deploySportMarkets/deployRundown/update_TherundownConsumerVerifier.js
  scripts/deployments.json
Labels: overtime

#285 Staking contracts Arbitrum deployment
  .openzeppelin/unknown-42161.json
  contracts/EscrowAndStaking/StakingThales.sol
  scripts/deployEscrowAndStaking/deploy_StakingRewards.js
  scripts/deployEscrowAndStaking/deploy_transparent.js
  scripts/deployEscrowAndStaking/upgrade_staking.js
  scripts/deployments.json
Labels: arbitrum

#289 new verifier
  .openzeppelin/unknown-42161.json
  scripts/deploySportMarkets/deployRundown/deploy_TherundownConsumerVerifier.js
  scripts/deployments.json
Labels: overtime
